
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
}

/* header section  */
header{
    height: 4rem;
    width: 100%;
}
nav{
    background-color: #000;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 10;
}

nav img{
    width: 4rem;
    height: 4rem;
}

/* hero section  */
.hero-container{
    max-width: 120rem;
    height: auto;
}
.hero-container{
    background-image: url('/assets/images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* grid section */
.grid-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    gap: 2rem;
    max-width: 70rem;
}

.card{
    border-radius: 5px;
    border: 2px solid #000;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.card .logo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
}

.card .laptop-img{
    width: 100%;
}

.card .social{
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.social img{
    width: 1.5rem;
    height: 1.5rem;
}

.card p{
    padding:1rem;
}

/* footer */
footer{
    height: 4rem;
    width: 100%;
    background-color: #000;
}


/* Media Queary */
@media screen and (max-width: 974px){
    .grid-section{
        grid-template-columns: repeat(3,1fr);
        padding: 0 1rem;
        max-width: 820px;
    }
}

@media screen and (max-width: 540px){
    .grid-section{
        grid-template-columns: repeat(2,1fr);
        max-width: 450px;
    }
}

@media screen and (max-width: 360px){
    .grid-section{
        grid-template-columns: 1fr;
    }
}